################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/v2027/Samples/Test.API.Client/.vs/Test.API.Client/FileContentIndex
/v2027/Samples/Test.API.Client/obj
/ServerX64/bin
/v2027/Samples/Test.API.Client/.vs/Test.API.Client
